{% extends 'base/base.html'%}
{% load static %}

{% block content%}
 
    <section class="container-fluid">
        <div class="container">
            <div class="row">
                {% if posts.exists %}
                <center><h3 style="color:white;">Your likes:</h3></center>
                    {% for post in posts %}
                        <div class="col-6">
                            <div class="card border-info my-4">
                                <div class="card-header"style="background-color: rgba(13, 202, 240, 0.3)">
                                    <h6 class="card-subtitle mb-2 text-muted"> <br>{{ post.date_created|date:"F j, Y" }}</h6>
                                    <h6><a href="{% url 'user-profile' post.account post.account.id %}" class="btn btn-outline-secondary">@{{ post.account }}</a></h6>
                                    <h2>{{ post }}</h2>
                                    
                                </div>                      
                                <div class="card-body" style="background-color:#1D1F20; color:white;">
                                    <h7>{{ post.body|default_if_none:"" }}</h7> <br><br>
                                    <h5>{{ post.hashtags|default_if_none:"" }}</h5>
                                    {% if post.image|default_if_none:"" %}
                                    <center><img src="{{ post.image.url }}" class="img-fluid card-img-bottom" style="width: 500px; border-radius: 10px;"></center>
                                    {% endif%}
                                </div>
                                <div class="card-footer" style="background-color: rgba(13, 202, 240, 0.3)">
                                    <div class="col-4">
                                        <p class="small text-muted mb-2">{{ post.likes.count }} Likes </p>
                                        <p class="small text-muted mb-2">{{ post.comments.count }} Comments  </p>
                                    </div>
                                        <a class="col-12 px-2" href="{% url 'like-post' post.account post.id %}" style="color:#1D1F20;"><i class="fs-4 bi-hand-thumbs-up"></i></a>
                                        
                                        <a class="col-12 px-2" href="{% url 'comment-post' post.id %}" style="color:#1D1F20;"><i class="fs-4 bi-chat-left-text"></i></a>
                                        <a href="{% url 'post-details' post.id %}" class="btn btn-sm btn-secondary md-4"> View details</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {%else%}
                <div class="container-fluid">
                    <div class="row justify-content-center align-items-center h-100">
                        <div class="col col-md-9 col-md-7 col-xl-5">
                            <div class="card my-3" style="border-radius: 15px;">
                                <div class="card-body p-4">
                                    <center><h3>If you have friends, why aren't you liking their posts? If not, go make some!</h3></center>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock content %}
