{% extends 'base/base.html'%}
{% load crispy_forms_tags %}

{% block content %}
<div class="container-md">
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
        <div class="col-md-4">
            <img src="{{ user.account.image.url }}" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
            <h5 class="card-title">{{ user.username }}</h5>
            <p class="card-text">{{ user.account.bio }}</p>
            <p class="card-text">Email: <small class="text-muted">{{ user.email }}</small></p>
            </div>
        </div>
        </div>
    </div>
    <div class="container px-4">
        <div class="row gx-5">
          <div class="col">
           <div class="p-3"></div>
          </div>
          <div class="col">
            <div class="p-3 border bg-light">
                <a class="btn btn-outline-info" href="{% url 'update-profile' %}">Edit Profile</a>
            </div>
          </div>
        </div>
      </div>
    {% if not_exists %}
        <h4>You have no current Posts! </h4>
    {% else %}
    
    
        {% for each in user_posts %}
            {% if user_posts %}
            <br>
                    <div class="card border-info md-3"style="max-width: 50rem;">
                        <div class="card-header"style="background-color: rgba(13, 202, 240, 0.1)">
                            <h6 class="card-subtitle mb-2 text-muted"> <br>{{ each.date_created|date:"F j, Y" }}</h6>
                            <h6>{{ each.account }}</h6>
                            <h2>{{ each }}</h2>
                        </div>                       
                        <div class="card-body">
                            <h7>{{ each.body }}</h7> <br><br>
                            <h5>{{ each.hashtags }}</h5>
                            {% if each.image %}
                                <img src="{{ each.image.url }}" class="card-img-bottom">
                            {% endif%}
                        </div>
                    </div>
            {% endif %}
    
        {% endfor %}
    {% endif %}
    {% if cu_post %}
        <h4>You have no current Posts! </h4>
    {% endif %}
    

</div>
    
{% endblock content%}