{% extends 'base/base.html'%}
{% load crispy_forms_tags %}

{% block content %}
    <section class="vh-100">
        {% if exists%}
            {% for request in friend_requests %}
                <div class="container-fluid">
                    <div class="row justify-content-center align-items-center h-100">
                        {% for message in messages %}
                            <p><h5 style="color:green">{{ message }}</h5></p>
                        {% endfor %}
                        <div class="col col-md-9 col-md-7 col-xl-5">
                            <div class="card my-3" style="border-radius: 15px;">
                                <div class="card-body p-4">
                                    <div class="d-flex text-black">
                                        <div class="flex-shrink-0">
                                            <img src="{{ request.sender.account.image.url }}"
                                            alt="Generic placeholder image" class="img-fluid"
                                            style="width: 180px; border-radius: 10px;">
                                        </div>
                                        <div class="flex-grow-1 ms-4">
                                            <h5 class="mb-1">{{ request.sender.first_name }} {{ request.sender.last_name }}</h5> 
                                            <h6><a href="{% url 'user-profile' request.sender request.sender.id %}" class="btn btn-secondary">View Profile: {{ request.sender }}</a></h6>
                                            <a class="btn btn-success" href="{% url 'accept' request.id %}"> Accept</a>
                                            <a class="btn btn-danger" href="{% url 'decline' request.id %}"> Decline </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}

            {% for post in posts_shared %}
                <div class="container-fluid">
                    <div class="row justify-content-center align-items-center h-100">
                        <div class="col col-md-9 col-md-7 col-xl-5">
                            <div class="card my-3" style="border-radius: 15px;">
                                <div class="card-body p-4">
                                    <div class="d-flex text-black">
                                        <div class="flex-shrink-0">
                                            <img src="{{ post.sender.account.image.url }}"
                                            alt="Generic placeholder image" class="img-fluid"
                                            style="width: 180px; border-radius: 10px;">
                                        </div>
                                        <div class="flex-grow-1 ms-4">
                                            <h5 class="mb-1">{{ post.sender.first_name }} {{ post.sender.last_name }}</h5> 
                                            <h6><a href="{% url 'user-profile' post.sender post.sender.id %}" class="btn btn-secondary">{{ post.sender }}
                                            </a>  Shared a post with you from <a href="{% url 'user-profile' post.sender post.sender.id %}" class="btn btn-secondary"></a> </h6>
                                            <a class="btn btn-success" href="{% url 'post-details' post.post.id %}"> View</a>
                                            <a class="btn btn-danger" href="{% url 'delete-shared-post' post.id %}"> Delete </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
                <div class="container-fluid">
                    <div class="row justify-content-center align-items-center h-100">
                        <div class="col col-md-9 col-md-5 col-xl-3">
                            <div class="card my-3" style="border-radius: 15px;">
                                <div class="card-body p-4">
                                    <div class="d-flex text-black">
                                        <div class="flex-shrink">
                                            <h1>No new notifications.</h1>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        {% endif %}
    </section>    
{% endblock content%}
