{% extends 'base/base.html'%}
{% load crispy_forms_tags %}

{% block content %}
<div class="content-section">
    <center>
        <form action="" method="POST">
            {% csrf_token %}
            <fieldset class="form-control">
                <legend class="border-bottom mb-4">Log In</legend>
                <div class="form-group col-md-3 mb-0">
                    {{ form|crispy }}
                </div>
            </fieldset>
            <div class="form-control">
                <button class="btn btn-outline-info" type="submit">Login</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Need an account? <a class="btn btn-outline-success" href="{% url 'register' %}" role="button">Register</a>
            </small>
        </div>
    </center>
    

</div>

{% endblock content%}