{% extends 'base/base.html'%}
{% load static %}
{% block content %}
    <section class="vh-100" style="background: linear-gradient(to bottom right, #30D2F2, #242728)">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-xl-10">
                    <div class="card" style="border-radius: 1rem;">
                        <div class="row g-0">
                            <div class="col-md-6 col-lg-7 d-flex align-items-center">
                                <div class="card-body p-4 p-lg-5 text-black">
                                    <h2>Password has been changed!</h2>
                                    <form action="" method="POST">
                                        {% csrf_token %}
                                        <div class="d-flex align-items-center mb-3 pb-1">
                                            <div class="row">
                                                <div class="col-md-12 mb-6 pb-6">
                                                    Go back to your <a class="btn btn-sm btn-dark" href="{% url 'profile' %}"> profile.</a>
                                                </div>
                                            </div>  
                                        </div>
                                    </form>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content%}