{% extends 'base/base.html'%}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

<section class="vh-50 " style="background: linear-gradient(to bottom right, #242728, #30D2F2)">
    <div class="container py-5 h-100">
      <div class="row justify-content-center align-items-center h-100">
        <div class="col-12 col-lg-9 col-xl-7">
          <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
            <div class="card-body p-4 p-md-5">
              <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Welcome!</h3>
              <form action="" method="POST">
                {% csrf_token %}
                <div class="row">
                  <div class="col-md-6 mb-4">
  
                    <div class="form-outline">
                      <input type="text" name="first_name" class="form-control form-control-lg" placeholder="First Name" />
                    </div>
  
                  </div>
                  <div class="col-md-6 mb-4">
                    
                    <div class="form-outline">
                      <input type="text" name="last_name" class="form-control form-control-lg" placeholder="Last Name" />
                    </div>
  
                  </div>
                </div>
  
                <div class="row">
                  <div class="col-md-6 mb-4 d-flex align-items-center">
  
                    <div class="form-outline datepicker w-100">
                      <input type="text" class="form-control form-control-lg" name="username" placeholder="Username" />
                    </div>
  
                  </div>
                  <div class="col-md-6 mb-4 pb-2">
  
                    <div class="form-outline">
                      <input type="email"  name="email" class="form-control form-control-lg" placeholder="Email"/>
                    </div>
  
                  </div>
                  
  
                <div class="row">
                  
                  <div class="col-md-6 mb-4 pb-2">
  
                    <div class="form-outline">
                        <input type="password"  name="password1" class="form-control form-control-lg" placeholder="Password" />
                      </div>
  
                  </div>
                  <div class="col-md-6 mb-4 pb-2">
  
                    <div class="form-outline">
                        <input type="password"  name="password2" class="form-control form-control-lg" placeholder="Password Confirmation"/>
                      </div>
                      
  
                  </div>
                </div>
  
                {{form.errors}}
  
                <div class="mt-4 pt-2">
                  <input class="btn btn-info btn-lg" type="submit" value="Submit" />
                </div>
                <img src="{% static 'base/images/png/logo-no-background.png' %}"
                  alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
  
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock content%}
