{% extends 'base/base.html'%}
{% load crispy_forms_tags %}

{% block content %}
<div class="content-section">
    <form action="" method="POST">
        {% csrf_token %}
        <fieldset class="form-control">
            <legend class="border-bottom mb-4">Update your profile!</legend>
            <div class="form-group col-md-3 mb-0">
                {{ u_form|crispy }}
                {{ a_form|crispy }}
            </div>
            
        </fieldset>
        <div class="form-control">
            <button class="btn btn-outline-info" type="submit">Update</button>
        </div>
    </form>

</div>

{% endblock content%}
