{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'base/css/bootstrap.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <title>Social Grid</title>
</head>
<body style="background-color: #242728">
    <nav class="navbar sticky-top navbar-expand-sm navbar-dark overflow-hidden" style="background-color: #1D1F20;">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'home-page' %}"><img src="{% static 'base/images/png/logo-only-nobg.png' %}" width="50" height="44"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav me-auto">
              {% if user.is_authenticated %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'home-page' %}"><i class="fs-4 bi-house-door-fill"></i></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link " href="{% url 'createpost' %}"><i class="fs-4 bi-plus-square"></i></a>
                </li>
                <li class="nav-item">
                </li>
                <li class="d-flex">
                   
                </li>
                
                </ul>
                <form class="d-flex" method="POST" action="{% url 'search-user' %}">
                  {% csrf_token %}
                  <button  class="btn btn-outline-info" type="submit">Search</button>
                  <input class="form-control me-4" type="text" placeholder="Search For Users" name="search">
                </form>
                <a class="btn btn-outline-info" href="{% url 'logout' %}" role="button">Logout</a>
                
              {% else %}
                <ul class="navbar-nav me-auto">
                  <li class="nav-item">
                    <a class="btn btn-outline-info me-2" href="{% url 'login' %}" role="button">Login</a>
                  </li>
                  <li class="nav-item">
                    <a class="btn btn-outline-info me-2" href="{% url 'register' %}" role="button">Register</a>
                  </li>
                </ul>
              {% endif %}
          </div>
        </div>
      </nav>
      
      
      {% block content %} {% endblock content %}
    
</body>
</html>