{% extends 'base/base.html'%}
{% load static %}

{% block content%}

<div class="container-fluid">
    <div class="row flex-xl-nowrap">
        <div class="col-12 col-md-3 col-xl-2 sidebar" style="background-color:#1D1F20">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white sticky-top">
                <br>
                <a href="{% url 'profile' %}" class="d-flex align-items-center text-white text-decoration-none">
                    <img src="{{ user.account.image.url }}" width="30" height="30" class="rounded-circle">
                    <span class="d-none d-sm-inline mx-1">{{ request.user }}</span>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a href="{% url 'home-page' %}" class="nav-link align-middle px-0" style="color:#0dcaf0;">
                            <i class="fs-4 bi-house-door-fill"></i> <span class="ms-1 d-none d-sm-inline">Home</span>
                        </a>
                    </li>
                    <li>
                        <h7><a class="nav-link align-middle px-0" href="{% url 'createpost' %}" style="color:#0dcaf0;"><i class="fs-4 bi-plus-square"></i> Post</a></h7>
                    </li>
                    <li>
                        <h7><a class="nav-link align-middle px-0" href="{% url 'all-friends' %}" style="color:#0dcaf0;"><i class="fs-4 bi-person-check"></i> Friends</a></h7>
                    </li>
                    <li>
                        <h7><a class="nav-link align-middle px-0" href="{% url 'all-suggestions' %}" style="color:#0dcaf0;"><i class="fs-4 bi-person"></i><i class="fs-4 bi-person"></i> Suggestions</a></h7>
                    </li>
                    <li>
                        <h7><a class="nav-link align-middle px-0" href="{% url 'friend-requests' %}" style="color:#0dcaf0;"><i class="fs-4 bi-bell"></i> Notifications</a></h7>
                    </li>
                    <li>
                        <h7><a class="nav-link align-middle px-0" href="{% url 'pending-friend-requests' %}" style="color:#0dcaf0;"><i class="fs-4 bi-send"></i> Pending Friends</a></h7>
                    </li>
                    <li>
                        <h7><a class="nav-link align-middle px-0" href="{% url 'posts-liked' %}" style="color:#0dcaf0;"><i class="fs-4 bi-hand-thumbs-up"></i> Likes</a></h7>
                    </li>
                    <li>
                        <h7><a class="nav-link align-middle px-0" href="{% url 'posts-commented' %}" style="color:#0dcaf0;"><i class="fs-4 bi-chat-left-text"></i> Comments</a></h7>
                    </li>
                    <li>
                        <h7><a class="nav-link align-middle px-0" href="{% url 'reposts' %}" style="color:#0dcaf0;"><i class="fs-4 bi-repeat"></i> Reposts</a></h7>
                    </li>
                </ul>
                
            </div>
        </div>

        <main class="col-12  col-xl-8  bd-content" role="main">
            <section class="container-fluid">
                {% if posts %}
            {% for post in posts %}
                    <div class="row justify-content-center align-items-center h-100">
                            <div class="col-8"><br><br>
                                <div class="card border-info md-4"style="width: 650px;">
                                    <div class="card-header"style="background-color: rgba(13, 202, 240, 0.3)">
                                        <h6 class="card-subtitle mb-2 text-muted"> <br>{{ post.date_created|date:"F j, Y" }}</h6>
                                        <h6><a href="{% url 'user-profile' post.account post.account.id %}" class="btn btn-outline-secondary">@{{ post.account }}</a></h6>
                                        <h2>{{ post }}</h2>
                                    </div>
                                    <div class="card-body" style="background-color:#1D1F20; color:white;">
                                        <h7>{{ post.body|default_if_none:"" }}</h7> <br><br>
                                        <h5>{{ post.hashtags|default_if_none:"" }}</h5>
                                        {% if post.image|default_if_none:"" %}
                                            <center><img src="{{ post.image.url }}" class="img-fluid card-img-bottom" style="width: 500px; border-radius: 10px;"></center>
                                        {% endif%}
                                    </div>
                                    <div class="card-footer" style="background-color: rgba(13, 202, 240, 0.3)">
                                        <div class="col-4">
                                            <p class="small text-muted mb-2">{{ post.likes.count }} Likes </p>
                                            <p class="small text-muted mb-2">{{ post.comments.count }} Comments  </p>
                                        </div>
                                            <a class="col-12 px-2" href="{% url 'like-post' post.account post.id %}" style="color:#1D1F20;"><i class="fs-4 bi-hand-thumbs-up"></i></a>
                                            <a class="col-12 px-2" href="{% url 'unlike-post' post.account post.id %}" style="color:#1D1F20;"><i class="fs-4 bi-hand-thumbs-down"></i></a>
                                            <a class="col-12 px-2" href="{% url 'comment-post' post.id %}" style="color:#1D1F20;"><i class="fs-4 bi-chat-left-text"></i></a>
                                            <a class="col-12 px-2" href="{% url 'share-post-to' post.id %}" style="color:#1D1F20;"><i class="fs-4 bi-share"></i></a>
                                            <a class="col-12 px-2" href="{% url 'repost' post.id post.account.id %}" style="color:#1D1F20;"><i class="fs-4 bi-repeat"></i></a>
                                            <a href="{% url 'post-details' post.id %}" class="btn btn-sm btn-secondary md-4"> View details</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                
                {% endfor %}
                {% if reposts %}
            {% for repost in reposts %}
                    <div class="row justify-content-center align-items-center h-100">
                            <div class="col-8"><br><br>
                                <div class="card border-info md-4"style="width: 650px;">
                                    <div class="card-header"style="background-color: rgba(13, 202, 240, 0.3)">
                                        <h7><a href="{% url 'user-profile' repost.new repost.new.id %}" class="btn btn-sm btn-outline-secondary">@{{ repost.new }}</a> reposted on {{ repost.timestamp|date:"F j, Y"}}</h7>
                                        <h6 class="card-subtitle mb-2 text-muted"> <br>{{ repost.post.date_created|date:"F j, Y" }}</h6>
                                        <h6><a href="{% url 'user-profile' repost.original repost.original.id %}" class="btn btn-outline-secondary">@{{ repost.original }}</a></h6>
                                        <h2>{{ repost.post }}</h2>
                                    </div>
                                    <div class="card-body" style="background-color:#1D1F20; color:white;">
                                        <h7>{{ repost.post.body|default_if_none:"" }}</h7> <br><br>
                                        <h5>{{ repost.post.hashtags|default_if_none:"" }}</h5>
                                        {% if repost.post.image|default_if_none:"" %}
                                            <center><img src="{{ repost.post.image.url }}" class="img-fluid card-img-bottom" style="width: 500px; border-radius: 10px;"></center>
                                        {% endif%}
                                    </div>
                                    <div class="card-footer" style="background-color: rgba(13, 202, 240, 0.3)">
                                        <div class="col-4">
                                            <p class="small text-muted mb-2">{{ repost.post.likes.count }} Likes </p>
                                            <p class="small text-muted mb-2">{{ repost.post.comments.count }} Comments</p>
                                        </div>
                                            <a class="col-12 px-2" href="{% url 'like-post' repost.original repost.post.id %}" style="color:#1D1F20;"><i class="fs-4 bi-hand-thumbs-up"></i></a>
                                            <a class="col-12 px-2" href="{% url 'unlike-post' repost.original repost.post.id %}" style="color:#1D1F20;"><i class="fs-4 bi-hand-thumbs-down"></i></a>
                                            <a class="col-12 px-2" href="{% url 'comment-post' repost.post.id %}" style="color:#1D1F20;"><i class="fs-4 bi-chat-left-text"></i></a>
                                            <a class="col-12 px-2" href="{% url 'share-post-to' repost.post.id %}" style="color:#1D1F20;"><i class="fs-4 bi-share"></i></a>
                                            <a class="col-12 px-2" href="{% url 'repost' repost.post.id repost.original.id %}" style="color:#1D1F20;"><i class="fs-4 bi-repeat"></i></a>
                                            <a href="{% url 'post-details' repost.id %}" class="btn btn-sm btn-secondary md-4"> View details</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                
                {% endfor %}
                {%endif%}
            {% else %}
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-md-8 my-4">
                  <div class="card" style="border-radius: 1rem;">
                    <div class="row g-0">
                      <div class="d-flex align-items-center">
                        <div class="card-body p-4 p-md-2 text-black">
                           <center><h1>Welcome to Social Grid!</h1>
                            <h5>
                                This is your home page. <br>
                                To the right are your friends and friends suggested to you! <br>
                                To the left is home, uploading a post, friends, suggestions, etc. <br>
                                Happy socializing!

                            </h5></center>
                           

                        </div>
                      </div>
                    </div>
            
            {%endif%}
        
            </section>
            
        </main>


        <div class="col-12 col-md-5 col-xl-2 sidebar" style="background-color:#1D1F20;">
                    <div class="flex-column flex-coloumn align-items-end px-1 pt-2 text-white sticky-top">
                        <br><br><br>
                        
                        <ul class="nav nav-pills overflow-auto" id="menu">
                            <li>
                                    <h5>Friends</h5>
                                    <a class="nav-link " href="{% url 'all-friends' %}" style="color:#0dcaf0;"><i class="fs-4 bi-person-check"></i></a>
                                    <div class="row overflow-auto" style="max-height: 400px;">
                                        {% for friend in friends %}
                                                <div class="row">
                                                    <div class="col pb-2">
                                                        <h7><a href="{% url 'user-profile' friend friend.id %}" class="btn btn-sm btn-outline-secondary">@{{ friend }}</a></h7>
                                                        <hr>
                                                    </div>
                                                </div>
                                            {%endfor%} 
                                    </div>
                            </li>
                            <li>
                                
                                <h5>Suggested Friends</h5>
                                <a class="nav-link" href="{% url 'all-suggestions' %}" style="color:#0dcaf0;"><i class="fs-4 bi-person"></i> <i class="fs-4 bi-person"></i></a>
                                    <div class="row overflow-auto" style="max-height: 500px;">
                                        {% for friend in not_friends %}
                                                    
                                           <div class="col pb-6">
                                                <h7><a href="{% url 'user-profile' friend friend.id %}" class="btn btn-sm btn-outline-secondary">@{{ friend }}</a></h7>
                                                <hr>
                                            </div>
                                                    
                                         {%endfor%} 
                                    </div>   
                            </li>
                            <li>
                                
                            </li>
                            <li>
                            
                                
                            </li>
                            <li>
                        </ul>
                    
                </div>
            
        </div>
        

    </div>
</div>




        

    <!-- <div class="container">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <p class="col-md-4 mb-0 text-muted">&copy; 2022 Social Grid, Inc</p>
    
        
        <a href=""><img class="text-center" src="{% static 'base/images/png/logo-only-nobg.png' %}" width="100" height="100"></a>
        
    
        <ul class="nav col-md-4 justify-content-end">
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Top</a></li>
            <li class="nav-item"><a href="{% url 'logout' %}" class="nav-link px-2 text-muted">Logout</a></li>
        </ul>
        </footer>
    </div> -->


{% endblock content %}
