{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'base/css/bootstrap.css' %}">
    <title>Social Grid</title>
</head>
<body>
    
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'home-page' %}"><img src="{% static 'base/images/png/logo-only-nobg.png' %}" width="50" height="44"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav me-auto">
              {% if user.is_authenticated %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'home-page' %}">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Post</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Message</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'profile' %}">Account</a>
                </li>
                <li class="nav-item">
                  <a class="btn btn-outline-info" href="{% url 'logout' %}" role="button">Logout</a>
                </li>
                </ul>
                <form class="d-flex">
                  <input class="form-control me-2" type="text" placeholder="Search For Users">
                  <button class="btn btn-outline-info" type="button">Search</button>
                </form>
              {% else %}
                <ul class="navbar-nav me-auto">
                  <li class="nav-item">
                    <a class="btn btn-outline-success" href="{% url 'login' %}" role="button">Login</a>
                  </li>
                  <li class="nav-item">
                    <a class="btn btn-outline-success" href="{% url 'register' %}" role="button">Register</a>
                  </li>
                </ul>
              {% endif %}
          </div>
        </div>
      </nav>



      {% block content %} {% endblock content %}

</body>
</html>